@(user: models.User)(implicit loggedInUser: Option[User], lang: Lang)

@import util.AuthHelper._
@import util.EmailHelper._
@import util.GravatarHelper._
@import util.Section._

@page(user.firstName + " " + user.lastName, section = Users) {

  @breadcrumb(Seq(Messages("navigation.consultants") -> routes.Users.list()),
    user.firstName + " " + user.lastName)

  <div class="row">
    <div class="span5">
      <h2>@user.firstName @user.lastName</h2>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <img class="gravatar" src="@gravatarUrl(user.email, 70)"/>
    </div>
    <div class="span4">
      <div class="row"><div class="span1">&nbsp;</div></div>
      <div class="row"><div class="span1"><strong>@Messages("model.consultant.email"):</strong></div><div class="span3">@abbreviated(user.email, isLoggedIn(loggedInUser))</div></div>
      <div class="row"><div class="span1"><strong>@Messages("model.consultant.phone"):</strong></div><div class="span3">@user.phone</div></div>
    </div>
  </div>

    <div class="row">
      <div class="span5">
        @if(isAdminOrSelf(loggedInUser = loggedInUser, user = user)) {
          <p></p>
          <a href="@routes.Users.updateForm(user.id.get)" class="btn"><i class="icon-pencil"></i>
            @Messages("navigation.edit")</a>
        }
        @if(isAdmin(loggedInUser)) {
          <a data-toggle="modal" href="#remove_user_@user.id" class="btn"><i class="icon-trash"></i> @Messages("navigation.delete")</a>

          <div id="remove_user_@user.id" class="modal smaller-modal hide fade" style="display: none;">
            <div class="modal-header">
              <button class="close transparent" data-dismiss="modal"><i class="icon-remove"></i></button>
              <h3>@Messages("users.delete.title")</h3>
            </div>
            <div class="modal-body">
              <p>
                @Messages("users.delete.info", user.firstName + " " + user.lastName)
              </p>
              <p>
              @Messages("users.delete.confirm")
              </p>
            </div>
            <div class="modal-footer">
              <form action="@routes.Users.delete(user.id.get)" method="POST">
                <a href="#" class="btn" data-dismiss="modal"><i class="icon-ban-circle"></i> @Messages("navigation.cancel")</a>
                <button type="submit" class="btn btn-primary"><i class="icon-trash icon-white"></i> @Messages("navigation.delete")</button>
              </form>
            </div>
          </div>
        }
      </div>
    </div>

  <div class="row">
    <div class="span5">
      <h3>@Messages("navigation.polls")</h3>
    </div>
  </div>

  @if(isAdminOrSelf(loggedInUser = loggedInUser, user = user)) {
    <div class="row">
      <div class="span5 btn-row">
        <a href="@routes.PollsSecured.createForm(Option(user.id.get))" class="btn btn-primary"><i class="icon-plus icon-white"></i> @Messages("navigation.new") @Messages("model.poll")</a>
      </div>
    </div>
  }

  @Poll.findByConsultant(user).map { poll =>
    <div class="row">
      <div class="span5 list-row">
        <div class="row">
          <div class="span4">
            <strong><a href="@routes.Polls.show(poll.uuid)">@poll.customer</a></strong>
            <br/>
            @poll.assignment
          </div>
          <div class="span1">
          @if(poll.isOpen) {
            <span class="label label-success">@Messages("model.poll.ongoing")</span>
          } else {
            <span class="label label-important">@Messages("model.poll.closed")</span>
          }
          </div>
        </div>
      </div>
    </div>
  }
}
