@(poll: models.Poll)(implicit loggedInUser: Option[User])

@import util.AuthHelper._
@import util.GravatarHelper._
@import util.Section._

@page(poll.customer + ": " + poll.consultant.firstName + " " + poll.consultant.lastName, section = Polls) {

  @breadcrumb(Seq("Undersökningar" -> routes.Polls.list()),
    poll.customer + ": " + poll.consultant.firstName + " " + poll.consultant.lastName)

  <div class="row">
    <div class="span5">
      <h2>Nöjdhetsundersökning</h2>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <img class="gravatar" src="@gravatarUrl(poll.consultant.email, 70)"/>
    </div>
    <div class="span4">
      @if(poll.isOpen) {
        <div class="row"><div class="span1"><strong>&nbsp;</strong></div></div>
      } else {
        <div class="row"><div class="span1"><span class="label label-important">Avslutad</span></div></div>
      }
      <div class="row"><div class="span1"><strong>
        Konsult:</strong></div><div class="span3">@poll.consultant.firstName @poll.consultant.lastName</div></div>
      <div class="row"><div class="span1"><strong>Kund:</strong></div><div class="span3">@poll.customer</div></div>
      <div class="row"><div class="span1"><strong>Uppdrag:</strong></div><div class="span3">@poll.assignment</div></div>
    </div>
  </div>

  <div class="row">
    <div class="span1">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <p class="well">
        TODO: Rita en graf... <br/>
        @Metric.findByPoll(poll).reverse.map { metric =>
          <strong>@metric.score</strong> @metric.when <br/>
        }
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span5 btn-row">
      @if(poll.isOpen) {
        <a href="@routes.Metrics.createForm(poll.uuid)" class="btn btn-primary"><i class="icon-plus icon-white"></i> Rösta</a>
      }
      @if(isAdmin(loggedInUser)) {
        <a href="@routes.Polls.updateForm(poll.uuid)" class="btn"><i class="icon-pencil"></i> Redigera</a>
      }
    </div>
  </div>
}
